table,td,tr,th{
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    padding: 5px;
    font-size: medium;
}

#button{
    padding-right: 6.65rem;
    padding-left: 6.65rem;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(29, 169, 245);
    color: black;
}
