table,td,tr,th{
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    padding: 5px;
    font-size: medium;
}
select{
    padding-right: 5.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
}
#gender{
    padding-right: 6.5rem;
}
#button{
    padding-right: 7rem;
    padding-left: 7rem;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(29, 169, 245);
    color: black;
}
