
table,td,tr,th{
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    padding: 5px;
    font-size: medium;
}

#button{
    padding-right: 6.65rem;
    padding-left: 6.65rem;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(29, 169, 245);
    color: black;
    border: none;
    border-radius: 2px;
}

#button1{
    background-color: red;
    padding-right: 7px;
    border: none;
    color: white;
    border-radius: 2px;
    margin-left: 3px;
}
#table1{
    position: absolute;
    left: 41%;
    top: 15%;
}
#res{
    position: absolute;
    top: 52%;
    left: 35%;
}
h1{
    text-align: center;
}